.pixelify-sans-portfolio {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Pixelify Sans', sans-serif;
}

.split-layout {
    display: static;
    height: 100vh;
    overflow: hidden;
}

.left-panel {
    width: 50%;
    background-color: #041020;
    padding: 0rem;
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 210px;
    height: 160px;
    border-radius: 0%;
    object-fit: contain;
    margin-top: 0rem;
    position: absolute;
    top: 130px;
    z-index: 1;
}

.social-links a {
    color: #0af;
    display: block;
    margin-top: 0.5rem;
    text-decoration: none;
}

/* Everything on the right panel below */
.right-panel {
    margin-left: 50%;
    width: 50%;
    background-color: #041020;
    padding: 0rem;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

/* DON'T DELETE, THIS IS KEEPING THE SCROLLBAR HIDDEN */
.content::-webkit-scrollbar {
    display: none;
}

.content {
    background-color: #041020;
    padding: 0rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: fit-content;
    height: 60vh;
    width: 85vh;
    box-sizing: border-box;
    position: fixed;
    top: 20vh;
}

.abt-me {
    position: relative;
}

.prj {
    position: relative;
}

.contact {
    position: relative;
}

section {
    margin-bottom: 4rem;
}

h1 {
    color: #1c74ee;
    font-size: 4rem;
    z-index: 1;
}

h2 {
    color: #2bafff;
    font-size: 2.5rem;
}

p {
    color: #134fa3;
}

label {
    color: #134fa3;
}